@import url('https://fonts.googleapis.com/css?family=Noto+Sans:300,400,500i,800,900,900i');

:root {
    font-family: Noto Sans, Arial, sans-serif;
}

html, body, #main-div {
    width: 100%;
    height: 100%;
}

#main-div {
    display: flex;
    justify-content: center;
    align-items: center;
}